.bottom{
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 10PX;
  left: 0;
  height: 60PX;
  .bottom_body{
    padding: 0 10PX;
    height: 60PX;
    display: flex;
    flex-direction: row;
    font-size: 14PX;
    justify-content: space-between;
    width: 90%;
    border-radius: 50PX;
    background-color: #3A3B36;
    color: #89888D;
    .store_img{
      width: 60PX;
      height: 60PX;
      margin-top: -20PX;
      margin-left: 20PX;
    }
    .info{
      height: 60PX;
      line-height: 60PX;
    }
    .submit{
      height: 60PX;
      line-height: 60PX;
    }
  }
}
